<section id="bio" class="bio">
    <div class="section-content">
        <div class="section-header"><p>My past...</p></div>
        <div class="section-description">
            <p>I've graduated as BSc in biology. While my passion for this science remains unwavering, I discovered that I could leverage my analytical skills, attention to detail, and a keen sense of observation in the field of web development.
            This shift represents my ability to adapt, learn and embrace new challenges. Therefore started my course in Codecool.</p>
            <p>During the course I learnt basic Python, basic front-end, then Java and objective programming. 
            While studying I have learned not only how to type code, but also how to work in agile methodology, solve problems and coopeate with colleagues. Therefore soft skills and communications are something I am familiar with.
            I have experience working with Java, Spring, Hibernate, PostgreSQL, MongoDB, Python and JS.</p>
            <p>After finishing course the pandemic kicked in, I found a job as the Process Associate. Now it's time to go back to coding!</p>
        </div>
        </div>
        <img id="section-img" src="/assets/img/ilustracja-2.svg">
</section>