<section id="etc" class="etc">
    <img id="section-img" src="/assets/img/ilustracja-3.svg">
    <div class="section-content">
        <div class="section-header"><p>...and present</p></div>
        <div class="section-description">
            <p>Currently, I'm pursuing certificates on platforms like freeCodeCamp to expand my knowledge and gain hands-on experience.
            Recently I have finished first version of my full-stack application with Spring on the back-end and Bootstrap on the front-end, which helped me solve my daily problem - not knowing what to cook.
            You can find <a target="_blank" href="https://github.com/seweryntalaj/WhatTheFridge">What The Fridge?!</a> on my github page.
            The website you are browsing right now was inspired by course on Responsive Web Design, which began my process of diving deeper in front-end development.
            Learning is a lifelong journey, and I'm embracing it with joy.</p>
            I'm actively pursuing opportunities to collaborate with experienced developers and be part of innovative projects. If you're a company looking for a motivated, adaptable, and eager web developer with a unique blend of experiences, I'd love to connect with you. 
            <p>I'm ready to take on challenges, learn from experienced professionals, and contribute my skills to create exceptional web experiences. If you're interested in discussing potential opportunities, please don't hesitate to contact me. Let's chat and explore how we can work together to make the web a better place.</p>
            <p>Thank you for visiting my page, and I look forward to connecting with you!</p>
        </div>
        </div>
</section>