<footer>
    <div id="contact">
        <div class="contact-header"><p>Find me on</p><div class="orange-bar-bottom"></div></div>
        <div class="contact-list">
            <p class="email"><a href="mailto:seweryntalaj@gmail.com"><i class="fa-regular fa-envelope mr-2"></i><span>&nbsp; seweryntalaj@gmail.com</span></a></p>
            <p class="fcc"><a targer="_blank" href="https://www.freecodecamp.org/seweryntalaj"><i class="fa-brands fa-free-code-camp"></i><span>&nbsp; freeCodeCamp</span></a></p>
            <p class="github"><a target="_blank" href="https://github.com/seweryntalaj"><i class="fa-brands fa-github"></i><span>&nbsp; GitHub</span></a></p>
            <p class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/seweryn-ta%C5%82aj-250aa218a/"><i class="fab fa-linkedin-in"></i><span>&nbsp; LinkedIn</span></a></p>
        </div>
    </div>
    <img src="/assets/img/footer-background.svg">
</footer>
<script src="/assets/js/script.js"></script>