<body>
<header class="site-header" role="banner">
    <nav class="nav-container">
            <div class="brand-logo">
                <div class="image-container">
                    <a class="brand-image" href="/">
                        <img class="brand-image" src="/assets/img/st-logo.svg"/>
                        <a class="site-title" rel="author" href="{{ '/' | relative_url }}"></a>
                    </a>
                </div>
            </div>
            <div class="menu-item">
                <a href="#contact">contact</a>
            </div>
    </nav>
  </header>