<section id="hello" class="hello">
    <img id="section-img" src="/assets/img/ilustracja-1.svg">
    <div class="section-content">
        <div class="section-header"><p>Hi, I'm Sev</p></div>
        <div class="section-description"><p>I'm a passionate and dedicated web developer eager to kick-start my career in the tech industry. Enthusiastic and open-minded guy that likes to do things.
            I am keen on learning new stuff so I code, collect useless facts, tinker, paint, play with Arduino and I can make biodiesel from waste cooking oil in my free time.</p>
            <p>I bring a strong foundation of knowledge and a thirst for continuous learning. I believe in the power of technology to shape the future, and I'm excited to be part of that transformation.</p>
            </div>
        </div>
</section>
